<div class="page-header"><h3><%= @user.nickname %></h3></div>


<%= form_for @user, url:  {action: 'profile'}, html: {class: 'form-horizontal'} do |f|%>

    <div class="panel panel-default">
      <div class="panel-body">


        <div class="form-group <% if @user.errors[:email].count > 0 %>has-error<% end %>">
          <%= f.label :email, class: 'col-sm-3 control-label' %>
          <div class="col-sm-5">
            <%= @user.errors[:email].join(',') %>
            <%= f.text_field :email, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group <% if @user.errors[:password].count > 0 %>has-error<% end %>">
          <%= f.label :password, class: 'col-sm-3 control-label' %>
          <div class="col-sm-5">
            <%= @user.errors[:password].join(',') %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group <% if @user.errors[:password_confirmation].count > 0 %>has-error<% end %>">
          <%= f.label :password_confirmation, class: 'col-sm-3 control-label' %>
          <div class="col-sm-5">
            <%= @user.errors[:password_confirmation].join(',') %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
        </div>

      </div>
    </div>
    <div class="text-right">
      <%= submit_tag('Save', class: 'btn btn-primary') %>
    </div>
<% end %>
